block footer
  footer.footer
    .footer__logo-box
      img.footer__logo(src="../../assets/img/logo-green-2x.png" alt="Full Logo")
    .row
      .col-1-of-2
        .footer__navigation
          ul.footer__list
            li.footer__item: a.footer__link(href="#") Company
            li.footer__item: a.footer__link(href="#") Contact Us
            li.footer__item: a.footer__link(href="#") Careers
            li.footer__item: a.footer__link(href="#") Privacy Policy
            li.footer__item: a.footer__link(href="#") Terms
      .col-1-of-2
        .footer__copyright
          | Built by #[a.footer__link(href="#") Souveek Bose] for training on
          | #[a.footer__link(href="https://www.udemy.com/course/advanced-css-and-sass/" target="_blank") Advanced CSS and Sass]
          | Copyright &copy; by Jonas Schmedtmann. You are allowed to use this 
          | webpage for both personal and commercial use, but NOT to claim it as
          | your own design. A credit to the original author, Jonas Schmedtmann, 
          | is of course highly appreciated