block header
  header.header
    .header__logo-box
      img(
        src='../../assets/img/logo-white.png'
        alt='Logo'
      ).header__logo

    .header__text-box
      h1.heading-primary
        span.heading-primary--main Outdoors
        span.heading-primary--sub is where life happens
      a(href='#').btn.btn--white.btn--animated Discover our tours