block navigation
  input.navigation__checkbox(id="navi-toggle" type="checkbox")
  label.navigation__button(for="navi-toggle")
    span.navigation__icon &nbsp;
  .navigation__background &nbsp;

  nav.navigation__nav
    ul.navigation__list
      li.navigation__item: a.navigation__link(href="#") About Natours
      li.navigation__item: a.navigation__link(href="#") Your Benefits
      li.navigation__item: a.navigation__link(href="#") Popular Tours
      li.navigation__item: a.navigation__link(href="#") Customer Stories
      li.navigation__item: a.navigation__link(href="#") Book Now