/*
  Define the animations. Note that this file defines the position / effects
  at different points considering a linear timing function. However, the actual
  timing function can be changed later which will make the animation speed up or 
  slow down accordingly. Note that this is also the only way to apply transitions
  or animation effects during page load (all the below effects occur only during
  page load
*/

/*
  Complex animation to move object in from the left. The targetted object will
  first move slightly to the right before setting down on actual position
*/
@keyframes moveInLeft{
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80%{
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*
  Complex animation to move object in from the right. The targetted object will
  first move slightly to the left before settling down on actual position
*/
@keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80%{
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// Simple animation to move up  object
@keyframes moveInBtn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Simple animation to make object invisible
@keyframes makeInvisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}