/* Card Component */
.card {

  // Appear 3D during rotation
  perspective: 100rem;

  // Card sides need to be placed relative to the card element
  position: relative;

  /*
    Every element inside the card uses absolute positioning. This makes the
    size of card as zero which creates a problem with alignment. Therefore,
    setting a height on the card component
  */
  height: 52rem;

  // Styling for different sides
  &__side {
    font-size: 2rem;
    height: 52rem;
    transition: all .8s ease;

    // Ensure that both front side and back side of card overlap each other
    position: absolute;
    left: 0;
    top: 0;

    // Need this to handle cases where child elements are absolute positioned
    width: 100%;

    // Ensure that backside of card is hidden
    backface-visibility: hidden;

    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2rem 4rem rgba($color-black, .15);

    &--front{
      background-color: $color-white;
    }

    &--back {
      // Start with back of card rotated by 180 degrees on Y axis
      transform: rotateY(180deg);

      // Set colors for the three cards - card 1
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      // Set colors for the three cards - card 2
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      // Set colors for the three cards - card 3
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  // Rotate front side by 180 degrees anticlockwise on hover
  &:hover &__side--front{
    transform: rotateY(-180deg);
  }

  /*
    Back side starts with a 180 degrees rotation. Now, on hover, rotate it to
    0 degrees to bring it in front
  */
  &:hover &__side--back{
    transform: rotateY(0);
  }

  // Styling for picture on front face
  &__picture {
    background-size: cover;
    height: 23rem;

    // Blends image and gradient when showing on screen
    background-blend-mode: screen;

    // Apply clipping
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    // Re-apply top borders that may be lost due to clip-path
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    // Define gradient and image for card 1
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      ), url('../img/nat-5.jpg');
    }

    // Define gradient and image for card 2
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      ), url('../img/nat-6.jpg');
    }

    // Define gradient and image for card 3
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        $color-tertiary-light,
        $color-tertiary-dark
      ), url('../img/nat-7.jpg');
    }
  }

  // Heading styles
  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;

    // Position for headings
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  // Styling for heading text
  &__heading-span {
    padding: 1rem 1.5rem;

    /*
      When wrapping breaks text into two or more lines, apply styling to each
      fragment separately
    */
    box-decoration-break: clone;

    // Gradient background for heading in card 1
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    // Gradient background for heading in card 2
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    // Gradient background for heading in card 3
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  // Styling for list in front face
  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // Styling for back face elements - Center content
  &__cta {
    @include absCenter;
    width: 90%;
    text-align: center;
  }

  // Styling for price box
  &__price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }

  // Styling for text "Only"
  &__price-only {
    font-size: 1.5rem;
    text-transform: uppercase;

  }

  // Styling for the price amount
  &__price-value {
    font-size: 6rem;
    font-weight: 100;

  }

  /*
    With tab port, we are using one card per row, and the targetted device may
    not have a hover event (if it has touch screen) so need to ensure that funky
    rotation animation is not happening
  */
  @include respond(tab-port) {

    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .15);

    // Styling for different sides
    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      /*
        No need to rotate back side at the beginning. Also, use a clip path as
        per the theme of the current project
      */
      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

      }
    }

    &__details {
      padding: 1rem 3rem;
    }

    // Do not rotate front on hover
    &:hover &__side--front{
      transform: rotateY(0);
    }

    // Styling for back face elements - Center content
    &__cta {
      position: relative;
      left: 0;
      top: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    // Styling for price box
    &__price-box {
      margin-bottom: 3rem;
    }

    // Styling for the price amount
    &__price-value {
      font-size: 6rem;
      font-weight: 100;

    }
  }
}
