.popup {

  // Styling for dark background
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5000;
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  @supports(backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  // Styling for box holding popup content
  &__content {
    @include absCenter;
    background-color: $color-white;
    width: 75%;
    box-shadow: 0 1rem 2rem rgba($color-black, .4);
    border-radius: 3px;

    // Need display table to vertical align items in left and right div to center
    display: table;

    /*
      If we don't set overflow hidden, the images with make left corners as square
      instead of 3px radius as intended
    */
    overflow: hidden;

    // Default opacity is zero
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .5s .2s;
  }

  /*
    Set dark background layer to visible only if popup is target, i.e, url
    is set for element with style class popup
  */
  &:target {
    opacity: 1;
    visibility: visible;
  }

  // Make popup content visible when url path includes element with style class popup
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  // Set width and display style for left div
  &__left {
    width: 33.33%;
    display: table-cell;

    // Use all available height when screen sizes are below threshold
    height: 100%;

    // Position absolute helps with using popup height when setting left section height
    position: absolute;

    // Show popup left and right sections as rows for very small screens
    @include respond(phone) {
      width: 100%;
      display: block;
      height: 18.5rem;
      position: relative;
    }
  }

  // Set size for image
  &__img {
    display: block;
    width: 100%;

    // Use 50% of left section height for each image
    height: 50%;

    // Main image aspect ratios and crop as required
    object-fit: cover;

    // Show images side by side if screen size is small
    @include respond(phone) {
      height: 100%;
      width: 50%;
      float: left;
    }
  }

  /*
    Set width, display style and vertical align for right div. Vertical align
    only works because display is set to table-cell, which is in turn possible
    only because parent has display property set to table
  */
  &__right {
    padding: 3rem 5rem;
    width: 66.67%;
    display: table-cell;
    vertical-align: middle;

    // Use full width and reduce empty spacing around text for small screens
    @include respond(phone) {
      display: block;
      width: 100%;
      padding: 1rem 2rem;
    }
  }

  // Style text in right div
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    // Split text into 2 column layout
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    hyphens: auto;

    // Don't use 2 column layout for small screens
    @include respond(phone) {
      column-count: 1;
    }
  }


  // Style for close button. Note that we are using &times; to show this button
  &__close {
    &:link,
    &:visited {
      color: $color-grey;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      display: inline-block;
      text-decoration: none;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }

}