.footer {
  background-color: $color-grey-dark-2;
  padding: 10rem 0;
  font-size: 1.4rem;

  // Reduce empty space in footer for small screens
  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__logo-box{
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 4rem;
    }
  }

  &__logo{
    width: 15rem;
  }

  // Navigation section in footer
  &__navigation {
    border-top: 1px solid $color-grey;
    padding-top: 2rem;
    display: inline-block;

    // Use 100% of available space when screens are smaller
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }

  }

  // Don't show markers for list of nav links
  &__list {
    list-style: none;
  }

  // Show nav links in footer next to each other
  &__item{
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  // Styling for links in footer
  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-2;
      background-color: $color-grey-dark-2;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 .5rem 1rem rgba($color-black, 0.4);
      transform: scale(1.1);
    }
  }

  // Styling for copyright section
  &__copyright {
    border-top: 1px solid $color-grey;
    padding-top: 2rem;
    width: 85%;
    float: right;

    // Use all available space for small screens
    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
  }
}